{% extends 'base.html.twig' %}

{% block title %}Mostrar Proveedores
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/proveedores/index.css"/>
{% endblock %}

{% block body %}
	<div class="container p-5">
		<div class="flex">
			<a href="/" class="btn btn-secondary">Proveedores</a>
			<a href="/create" class="btn btn-secondary">Crear proveedor</a>
		</div>
		{% if proveedores %}
			<div class="row pt-5">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Email</th>
							<th>Telefono</th>
							<th>Tipo</th>
							<th>Activo</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						{% for proveedor in proveedores %}
							<tr>
								<td>{{proveedor.nombre}}</td>
								<td>{{proveedor.email}}</td>
								<td>{{proveedor.telefono}}</td>
								<td>{{proveedor.tipo}}</td>
								<td>{{proveedor.activo == 1 ? 'Si' : 'No'}}</td>
								<td>
									<a href="/edit/{{proveedor.id}}" class="btn btn-warning">Editar</a>
								</td>
								<td>
									<a href="/destroy/{{proveedor.id}}" class="btn btn-danger">Eliminar</a>
								</td>
								<td></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
{% endblock %}
